/* You can add global styles to this file, and also import other style files */
@import 'bulma/css/bulma.css';

html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
